.skills{
    border:2px solid #198754 ;
    border-radius: 20px;
    width : 80% !important;
     background:    linear-gradient(210deg, rgba(0, 253, 56, 0.20) 0%, rgba(131, 253, 9, 0) 100%);
     background: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.28));
    margin-bottom: 45px;
    margin-top: 60px;
    animation: move 1s 3s;
    
    
    
}
@keyframes move {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}